<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Used to capture photo for profile picture and file attachment</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>To be able to save the photos you share in conversations with ShareTrip's customer support</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Used to select photo for profile picture and file attachment</string>
</dict>
</plist>
